.btn {
  font-size: 1.2rem;
}

.completed {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}

td > div {
  line-break: anywhere;
}

table {
  table-layout: fixed;
}

.col-1 {
  width: 5%;
}

.col-2 {
  width: 30%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 15%;
}

.checkbox-td {
  vertical-align: middle;
}
